@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400&family=Quicksand:wght@600&display=swap');

body {
  background-image: url("home-bg.png");
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand';
}

header {
  padding: 13px 35px;
  text-decoration: none;
  /* background-color:red; */
}

header ul {
  display: flex;
}

header ul li :link {
  text-decoration: none;
}

header ul li :visited {
  text-decoration: none;
}

header ul li {
  position: relative;
  list-style: none;
  margin-right: 100px;
  color: #095B93;
  text-decoration: none;
}

header ul li :hover {
  color: #FF7043;
  font-weight: bold;
  text-decoration: none;
}

.homeLogo {
  height: 50%;
}

.homeLogo img {
  margin-top: 150px;
  margin-left: 400px;
  margin-bottom: 30px;
}

.otherpages {
  height: 25%;
}

.otherpages img {
  margin-top: 0px;
  margin-left: 600px;
  width: 280px;
}

.button {
  box-shadow: 0;
  border-radius: 20px;
  font-family: 'Quicksand';
  font-size: 18px;
  border: 2px #EA5455;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  text-decoration: none
}

.homeBtn {
  margin-left: 550px;
  display: flex;
}

.btn1 {
  margin-right: 30px;
}

.homeBtn :link{
  text-decoration: none;
}

.homeBtn :visited{
  text-decoration: none;
  color:white;
}

.homeBtn :hover{
  text-decoration: none;
  color:#095B93;
}

